/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333333;
    background: linear-gradient(to bottom right, #f4f4f4, #515b64);
    background-attachment: fixed;
}

/* About Me Section */
#about-me-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding */
    min-height: calc(100vh - 80px); /* Adjust height for full viewport */
    background: linear-gradient(to bottom right, #f4f4f4, #515b64);
    background-attachment: fixed;
}

.about-me-container {
    display: flex;
    align-items: right;
    justify-content: space-between;
    width: 90%; /* Keep content within boundaries */
    max-width: 1400px; /* Maximum width for large screens */
    gap: 50px; /* Space between image and text */
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Align image to the left */
    align-items: center;
}

.about-image img {
    width: 100%; /* Larger image */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #066b70; /* Accent border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-summary {
    flex: 1;
    text-align: left; /* Align text to the left */
    line-height: 1.8;
    position: relative;
    top: -30px; /* Center text vertically */
}

.about-summary h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #066b70; /* Accent color for the title */
}

.about-summary p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #066b70;
    color: #212121;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #066b70;
}

/* Footer */
.footer {
    background-color: #0F0F0F;
    padding: 20px 0;
    text-align: center;
    color: #FAFAFA;
}

.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-logos img {
    height: 60px;
    max-width: 120px;
    object-fit: contain;
    filter: brightness(1.1);
    transition: transform 0.3s ease;
}

.footer-logos img:hover {
    transform: scale(1.1);
}
